
/* Шрифты */

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold_1-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-light_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

body {
    font-family: 'roboto', Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}

/*
.wrapper{
    overflow: hidden;
    max-width: 1100px;
    min-height: 100%;   
}
*/

* {
    box-sizing: border-box; /* позволяет значения padding и border 
                               вычитать из ширины и длины блока */
}

p {
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 49px;
    margin:0 auto;
    padding: 0;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    margin:0 auto;
    padding: 0;
}

/* контентное изображение => ограничим по ширине и высоте */
.logo__image {
    display: block; 
    width: 100%;  
    height: 100%;
    object-fit: contain;
}

/*---------------------*/
/*       Header        */
/*---------------------*/

.header {    
    background-color: #4b73b5; 
    color:white;
    margin-bottom: 45px;
}

.container { 
    margin: 0 auto;
    width: 1060px;  
}

.header .container {
    height: 77px;
    position:relative;
}

.contacts__phone{
    font-size: 21px;
    color: inherit;
}

.logo{
    position: absolute;
    top: 21px;
    left: 0;
}

.logo__title{
    display: none;
}

.contacts {
    position: absolute;
    top:16px;
    right: 0;    
    font-style: normal;
    text-align: right;
    font-weight: bold;
}

.contacts__phone {
    font-size: 21px;    
    text-decoration: none;
}

.contacts__dropshedule {
    color: rgba(255, 255, 255, 0.7); /* не применяем overflow:hidden, чтобы выпадающее меню 
                                          тоже было непрозрачным */
    font-size: 14px;
    text-decoration-line: underline;    
}



/*---------------------*/
/*      Container      */
/*---------------------*/

.container {
    margin: 0 auto;
    width: 1060px;
}

.sidebar {
    width: 176px;
    display: inline-block;
    vertical-align: top;    
}

.page-content {    
    width: 880px;
    display: inline-block;
    vertical-align: top;          
}


/* меню */

.menu__list {
    text-align: left;
    list-style: none;
    margin: 0 auto;
    padding: 0;    
}

.menu__list li {
    padding-bottom: 30px;
    display: inline-block;
    vertical-align: middle;    
}

.menu__list li:last-child { 
    padding-bottom: 0; 
} 

.menu__link {
    color: #4b73b5;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.3em;
    font-weight: bold;
}

.menu__link:hover{
    color: black;
}

.menu__link:before {
    content: "";    
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    vertical-align: top;
    width: 23px;
    height: 23px;
}

.menu__link--main:before {
    background-image: url("/assets/img/main_icon.png");
}
.menu__link--feed:before {
    background-image: url("/assets/img/feed-icon.png");
}
.menu__link--team:before {
    background-image: url("/assets/img/team-icon.png");
}

.menu__link--main:hover:before {
    background-image: url("/assets/img/main-icon-black.png");
}
.menu__link--feed:hover:before {
    background-image: url("/assets/img/feed_icon-black.png");
}
.menu__link--team:hover:before {
    background-image: url("/assets/img/team_icon-black.png");
}

.menu__item--active .menu__link--main{
    color: black;
}
.menu__item--active .menu__link--main:before{
    background-image: url("/assets/img/main-icon-black.png");
}
.menu__item--active .menu__link--feed{
    color: black;
}
.menu__item--active .menu__link--feed:before{
    background-image: url("/assets/img/feed_icon-black.png");
}
.menu__item--active .menu__link--team{
    color: black;
}
.menu__item--active .menu__link--team:before{
    background-image: url("/assets/img/team_icon-black.png");
}


 
/* Баннер */

.banner__image {       
    display: inline-block;    
    background-repeat: no-repeat;
    background-position: bottom left;
    /*background-size: contain;*/
    transform: translateY(-35px);
    width: 1007px;
    height: 299px;
    object-fit: contain;  
    margin-bottom:16px; 
}




/* Тарифы */

h3 {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    margin:0 auto;
    padding: 0;
}

.tarifs__name {
    line-height: 4.68;
}

.tarifs__block {
    text-align: center; 
    margin-bottom: 61px;
}

.tarifs__description, .tarifs__list-info{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;    
}

.tarifs__list-info {
    text-align: left;
    list-style: none;
    line-height: 1.67;
    margin-bottom: 35px;
}

.tarifs__item:before {
    content: "•";
    padding-right: 25px;
}

.tarifs__list {   
    display: inline-block;
    width: 250px;    
    height: 455px;
    margin: 0 auto;
    padding: 0;
    border:1px solid transparent;
}

.tarifs__listitem{      
    display: inline;
    list-style: none;    
}

.tarifs__listitem:hover{
    border:1px solid #e8e9ed;
}

.tarifs__listitem--hot {
    border:1px solid #e8e9ed;
}

.tarifs__price-value{
    font-weight: normal;
    font-size: 54px;
    vertical-align: middle;
}

.tarifs__item-image {  
    display: inline-block;
    vertical-align: top;      
    background-color: #4b73b5;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: contain;*/ 
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: contain;  
    margin-top:43px;  
}




/* Новости */

.lastnews {
    margin: 0 auto;
}

.lastnews__item-image {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;      
      
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: contain;*/ 
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: contain;  
    margin-bottom:16px; 
}

.lastnews__description {    
    width: 700px;
    display: inline-block;
    vertical-align: top; 
    padding-left: 20px;         
}

.lastnews__title {    
    margin: 0 auto;
    padding: 0;
    margin-bottom: 42px;
}

.lastnews__list{
    list-style: none;
    padding: 0;
}

.lastnews__item {
    border-bottom: 2px solid #f5f5f5;
    height: 220px;
    padding-top: 31px;
}

.lastnews__item:last-child {
    border-bottom: none;
}

.lastnews__date{
    font-weight: 300;
    color: #656464;
    font-size: 14px;
}

.lastnews__news{
    font-weight: 300;
    color: #221f1f;
    line-height: 1.67;
    font-size: 18px;
}




/* пагинатор */

.pagination {  
      margin-bottom: 68px;
}

.pagination__container{
    text-align: center;
}

.pagination__display {
    color: #656464;
    font-weight: 300;
    font-size: 14px;
    padding-right: 15px;
}

.pagination__controls {
    display: inline;
}

.pagination__prev {
    text-decoration: none;
    color: #ccc;
}

.pagination__next{
    text-decoration: none;
    display: inline;
    padding-left: 8px;
    color: black;
}

.pagination__list{
    display: inline; 
    padding: 0;      
}

.pagination__item {
    display:inline;
    list-style: none;   
    text-align: center;
    padding-left:5px; 
    padding-right:5px;          
}

.pagination__link {    
    text-decoration: none;    
    font-weight: bold;
    color: black;
    font-size: 14px;    
}

.pagination__item--active .pagination__link{ 
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #4b73b5;
    border-radius: 3px;    
    color:white;
    
}

.pagination__item--first > .pagination__prev { /* если пользователь нажал на 1-ю страницу*/
    color: #ccc;
}

.pagination__item--last > .pagination__next { /* .pagination__item--last -
            если пользователь нажал на последнюю страницу*/
    color:#ccc;
}



/*---------------------*/
/*       Footer        */
/*---------------------*/

/* Прибиваем футер - начало */
html {                          
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 -77px;           /* высота футера */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 77px;               /* высота футера */                                   
}
/* Прибиваем футер - конец */

.footer .container {
    height: 77px;
    position:relative;
    margin: 0 auto;
    width: 1060px; 
}

.footer {  
    background-color: #4b73b5;     
    color:white;   
    position: relative;          
}

.footer__col {
    font-size: 14px;
    color: inherit;
    position: absolute;
}

/* левый блок */
.footer__col--left {      
    left: 0; 
    line-height: 1.29; 
    margin-top: 14px;       
}

.footer__colleft-shool,.footer__colleft-autor{
    font-weight: bold;
    color: inherit;
}

.footer__colleft-autor {    
    text-decoration: none;           
}

/* центральный блок */
.footer__col--center {        
    left: 50%;
    transform: translateX(-50%);
    width: 120px;    
}

.logo--footer {
    top: 20px;
}

/* правый блок */
.footer__col--right {    
    top: 20px;
    right: 0;       
}

.social__info {      
    font-weight: bold;
    font-style: normal;   
}

.social__list {    
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social__listitem {
    display: inline; /* для размещения элементов списка в строку */
    padding-right: 10px;    
}

.social__listitem:last-child { 
    padding-right: 0; 
} 

.social__img {
    display: inline-block;    
    background-color: white;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: contain;*/
    overflow: hidden;   
    width: 20px;
    height: 20px;   
    object-fit: contain;   
}

.social__img--word {    
    visibility: hidden;
}

