body {
    font-family: 'roboto', Helvetica, sans-serif;
    line-height: 1.45;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}

* {
    box-sizing: border-box; 
}

p {
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 49px;
    margin:0 auto;
    padding: 0; 
}

h2 {
    font-weight: bold;
    font-size: 18px;
    margin:0 auto;
    padding: 0;
}

h3 {
    margin:0 auto;
    padding: 0;
    font-size: 18px;
    font-weight: bold;    
}

h4{
    margin:0 auto;
    padding:0;
    font-size: 14px;
    font-weight: bold;
}

ul, li{
    margin:0;
    padding:0;
}

html,
body {
    height: 100%;
}

time {
    display: inline-block;
    font-weight: 300;
    color: #656464;
    font-size: 14px;
}

.wrapper{
    overflow: hidden;    
    min-width:1060px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__content{
    flex:1;
}

.container {
    margin: 0 auto;
    width: 1060px;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 17%;
    display: inline-block;
    vertical-align: top;    
}

.page-content {    
    width: 83%;
    display: inline-block;
    vertical-align: top;          
}

/* Новый макет */

.wrapper--w1200{
    min-width:1200px;
}

.wrapper--w1200 .container{
    width: 1200px;
    padding-left: 20px;
}

.wrapper--w1200 .sidebar{
    width: 23%;
    margin-top: 0;
    margin-right: 28px;
}

.wrapper--w1200 .page-content{
    width: 77%;
}