/* Баннер */

.banner {       
    display: inline-block;    
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    height: 300px;
    object-fit: contain; 

    margin-top: 10px;  
}

/* Новый макет */
.wrapper--w1200 .banner{
    margin-top: 0; 
}