/* левый блок */
.footer__col--left {   
    line-height: 1.29;       
}

.footer__colleft-shool,.footer__colleft-autor{
    font-weight: bold;
    color: inherit;
}

.footer__colleft-autor {    
    text-decoration: none;           
}
