
.contacts__dropshedule{
    position: relative;
}

.contacts__dropshedule:hover .contacts__dropshedule-container{
    opacity: 1;
    left: 0;
}

.contacts__dropshedule-container{  
    position: absolute;
    
    width: 160px;
    margin-left:100%;
    transform: translateX(-100%);

    left: -9999px;
    
    opacity: 0;
    transition: opacity .4s;

    margin-top:3px;
}

.contacts__dropshedule-container:before{
    content:"";
    display: block;

    width: 160px;
    height: 30px;
    position: absolute;
    top: -7px;

}

.triangle{
    display: block;

    border: 10px solid transparent;    
    width: 0;
    height: 0;
    right: 50px;
    border-bottom-color:white;
    border-top-width: 0;  

    margin-left:100%;
    transform: translateX(-100%);    
}

.contacts__dropshedule-info{    
    display: block;

    text-align: left;

    width: 160px;
    right: 0;
    padding: 18px;
    
    background-color:white;
    border-radius: 3px;

    box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
}


.contacts__dropshedule-work{
    font-size: 14px;
    font-weight: bold;
    color: #3366cc;
}

.contacts__dropshedule-break{
    font-size: 14px;
    font-weight: 300;
    color: black;
}

