footer {
    width: 100%;                                 
}

.footer .container {
    min-height: 77px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer {  
    background-color: #4b73b5;     
    color:white;               
}

.footer__col {
    font-size: 14px;
    color: inherit;
    width: 33.3%;
}

.footer__col--right{
    display:flex;
    justify-content: flex-end;
}

/* центральный блок */
.footer__col--center {        
    width: 120px;    
}


