.header {    
    background-color: #4b73b5; 
    color:white;  
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    min-height:77px;
    padding: 10px 0;       
}

.header__block {
    width: 50%;
}

.header__block--align-right{
    justify-content: flex-end;
}

/* Новый макет */

.wrapper--w1200 .header{
    margin-bottom: 24px;
}

.wrapper--w1200 .header .container{
    padding: 0 20px;
}