.intro{
    width: 100%;
    height: 100%;

    background-image: url("/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.intro__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;  

    animation: Intro-bounce 2s;  
}

.intro__logo{
    margin-bottom: 28px;
}


/* Button */

.button--intro{
    display: inline-block;    
    padding: 15px 20px;
    background-color: transparent;
    outline: none;

    border: 1px solid #3366cc;
    border-radius: 3px;

    color: #3366cc;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.4px;  
    
    transition: .5s;
}

.button--intro{
    display: inline;  
    vertical-align: middle;  
}

.button--intro:after{
    content:"";
    display: inline-block;
    vertical-align: middle;
    
    background-image: url("../../img/sprites.png"); 
    width: 15px; height: 14px;
    background-position: -166px -10px;

    margin-left: 8px;
}

.button--intro:hover {
    background-color: #3366cc;
    color: white;
}

.button--intro:hover:after{
    background-position: -201px -10px;
}



