.logo{
    display:inline-block;
}

.logo__title{
    display: none;
}

/* контентное изображение => ограничить по ширине и высоте */
.logo__image {
    max-width: 120px;  
    max-height: 36px;
    object-fit: contain;
}