.sidebar{
    margin-top:45px;
}

.menu__list {
    text-align: left;
    list-style: none;
    margin: 0 auto;
    padding: 0; 
}

.menu__list li {    
    margin-bottom: 24px;
    display: inline-block;
    vertical-align: middle;        
}

.menu__list li:last-child { 
    padding-bottom: 0; 
} 

.menu__link {        
    display: inline-block;
    position: relative;
    
    font-size: 12px;        
    color: #4b73b5;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.4px;
    font-weight: bold;

    padding-left: 41px;
}

.menu__link:hover{
    color: black;
}

.menu__link:before {
    content: "";  
    display: inline-block;  
    position: absolute;
    background-image: url("../../img/sprites.png");
    left:0;
    top:50%;
    transform: translateY(-50%);
}

.menu__link--main:before {
    width: 17px; height: 18px;
    background-position: -236px -10px;
}
.menu__link--feed:before {
    width: 20px; height: 18px;
    background-position: -350px -10px;
}
.menu__link--team:before {
    width: 23px; height: 18px;
    background-position: -433px -10px;
}

.menu__link--main:hover:before {
    width: 17px; height: 18px;
    background-position: -273px -10px;
}
.menu__link--feed:hover:before {
    width: 20px; height: 18px;
    background-position: -310px -10px;
}
.menu__link--team:hover:before {
    width: 23px; height: 18px;
    background-position: -390px -10px;
}

.menu__item--active .menu__link--main{
    color: black;
}
.menu__item--active .menu__link--main:before{
    width: 17px; height: 18px;
    background-position: -273px -10px;
}

.menu__item--active .menu__link--feed{
    color: black;
}
.menu__item--active .menu__link--feed:before{
    bwidth: 20px; height: 18px;
    background-position: -310px -10px;
}

.menu__item--active .menu__link--team{
    color: black;
}
.menu__item--active .menu__link--team:before{
    width: 23px; height: 18px;
    background-position: -390px -10px;
}

/* Новый макет */

.menu--row{
    margin-bottom: 10px;
}

.menu--row .menu__item{
    margin-right: 88px;
    margin-bottom: 0;
}

.menu--row .menu__link{
    padding-left: 35px;
}

.menu--row .menu__item:last-child{
    margin-right: 0;
}