/* пагинатор */

.pagination {  
    margin-bottom: 60px;
}

.pagination__container{
  display: flex;  
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color:black;

  max-height: 25px;    
}

.pagination__prev, .pagination__next {
  display:inline-block;
  font-size: 16px;
  color:inherit;
}
.pagination__prev {
  margin-right: 8px;
}

.pagination__list {
  display:inline-block;
  font-size: 0px; /* Убираем боковые отступы между элементами списка */
  margin:0 auto;
  padding: 0;
  transform: translateY(-1px);
}

.pagination__item {
  font-size: 14px; /* Восстанавливаем размер шрифта */
  font-weight: bold;
  display:inline-block;
  list-style: none;   
  text-align: center;       
  width: 25px;
  height: 25px;
  line-height:25px;
  background-color: white;       
}

.pagination__link:hover{
  color: #36c;
}

.pagination__item--active {
  border-radius: 3px;
  background-color: #4b73b5;
  color: white;
}
.pagination__item--active:hover .pagination__link{
  color: white;
}

.pagination__link {
  text-decoration: none; 
  color:inherit;
}

.pagination__prev{
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  color: #656464;
}

.pagination__next{
  display: inline-block;
  text-decoration: none;
  transform: translateX(5px);
}

.pagination__display {
  font-weight: 300;
  color: #656464;
  display: inline-block;
  margin-right: 30px;
}

.pagination__controls{
  display: inline-block;
  transform: translateX(-11px);
}

