.partners {
    margin-bottom: 42px;
}

.partners__title {
    margin-bottom: 34px;
}

.partners__list {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}

.parners__list-item { 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;   
    width:250px; 
    max-height: 100%;
    max-width: 100%;  

    filter: grayscale(1);  
    
    margin-bottom: 55px;
}

.partners__list-item-img {
    display: inline-block;
}

.parners__list-item:hover {    
    filter: grayscale(0);
    transition: filter .3s, -webkit-filter .3s;    
}

/* Новый макет */

.partners--row {
    border: 1px solid #e8e9ed;
    text-align: center;

    margin-top: 5px;
    margin-bottom:20px;
}

.partners--row .partners__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;

    margin-top: 25px;
    margin-bottom: 18px;
}

.partners--row .parners__list-item {
    /*align-items: flex-start;*/
    margin-bottom:30px;
}

.partners--row .partners__list-item-img {
    transform: scale(.8);
}

.partners--row .parners-sibir {
    order:0;
}
.partners--row .partners-ural {
    order:1;
}
.partners--row .partners-bmp {
    order:2;
}
.partners--row .partners-oneair {
    order:3;
}
.partners--row .partners-tetra {
    order:4;
}
.partners--row .partners-bingair {
    order:10;
}

.partners--row .partners-bingair {
    margin-bottom:26px;
}
