.question{
    display: flex; 
    justify-content: center; 

    background-color: #33cc66;

    background-image: url("../../img/pattern.png");
    background-repeat: repeat;
    background-position: center center;  

    margin-bottom: 55px;
}

.question__block{    
    width: 650px;    
    font-size: 18px;
    line-height: 30px;
    color: white;
    padding:43px 3px;    
}

.question__request, .question__phone{
    color: white;
    font-weight: 900;
}

/* Новый макет */

.question--asside{
    text-align: center;
    background-color: #3366cc;
    padding: 0;

    font-weight: 300;
    line-height: 30px;

    margin-bottom: 30px;
}

.question--asside .question{
    background-size: cover;
}

.question--asside .question__block{
    padding: 30px 10px;
}

.question--asside .question__phone{
    display: block;
    text-decoration: none;
}