.question{
    display: flex; 
    justify-content: center; 
    
    background-color: #4b73b5;

    background-image: url("../../img/pattern.png");
    background-repeat: repeat;
    background-position: center center;  

    margin-bottom: 55px;
}

.question__block{    
    width: 275px;

    font-size: 18px;
    line-height: 30px;
    color: white;

    padding:43px 3px;    
}

.question__request, .question__phone{
    color: white;
    font-weight: 900;
}
