.review{
    margin-bottom: 38px;
}

.review__title{
    margin-bottom:25px;
}

.review__list{
    list-style: none;    
}

.review__text{
    font-weight: 300;
    color:#656464;
}

.review__block-image{    
    margin-right: 20px; 
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;     
    flex-shrink: 0;   
}

.review__image{
    display: inline-block;            
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;    
}

.review__list-item{
    display: flex;
    font-size:18px;
    border-bottom: 2px solid #f5f5f5;
    
    padding-bottom: 27px;
    margin-bottom: 27px;
}

.review__list-item:last-child{
    border-bottom: 2px solid transparent;
    padding-bottom: 0;
    margin-bottom: 0;
}

.review__name{
    margin-bottom: 10px;
}

.review__block-description{
    width:80%
}