.tarifs{
    margin-bottom: 48px;
}

.tarifs__title{
    margin-bottom: 18px;
}

.tarifs__name {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    margin:0 auto;
    padding: 0;
    margin-bottom: 17px;
}


.tarifs__block { 
    text-align:center;   
    font-size: 16px; /* Восстанавливаем размер шрифта */    
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    list-style: none;
    width: 270px;
    margin-right: 20px;
    padding: 25px 0;
}

.tarifs__item {
    text-align: left;
    list-style: none;
}
.tarifs__item:before {
    content: "•";
    padding-right: 25px;
}

.tarifs__item {
    line-height: 1.9;
}

.tarifs__price-value{
    font-weight: 500;
    font-size: 50px;
}
.tarifs__price-value sub{
    font-size: 35px;
}

.tarifs__description{
    margin-bottom: 5px;
}

.tarifs__description, .tarifs__list-info{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;    
}

.tarifs__list-info {
    text-align: left;
    list-style: none;
    line-height: 1.67;

    margin-bottom:12px;
}

.tarifs__description-block{
    margin: 0 auto;
    width: 200px; 
}